<!DOCTYPE html>
<html>
  <head>
    <title>ToDoList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="raw">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name %>">
            <%= msg %>
          </div>
          <% end %>
          <%= yield %>
        </div>
        <div class="col-md-2"></div>
      </div>
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  </body>
</html>
